*{
    box-sizing: border-box;
    margin: 0;
}

.display-4{
    font-weight: 900;
    color: white;
}

h2{
    font-weight: 700;
    color: white;
}

.fond{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./bg.jpg);
    background-size: cover;
    width: 100%;
}

.btn{
    padding: 0.75rem 1.5rem;
    border-radius: 1.5rem;
    border: 0;
    background-color: rgb(224, 0, 220);
    color: white;
}

.container{
    display: grid;
}

.btn-outline-secondary{
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
}

@media (max-width: 600px) { 
    .fond{
        width: 85vh;
        background-size: fixed;
        height: 50vh;
    }
    .container{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0px;
        width: 200px;
    }
    .row{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .col{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #xd{
        display: flex;
        flex-direction: column;
    }    
    .rounded-circle{
        width: 12.5rem;
        height: 12.5rem;
        margin:20px
    }
}
