$myFont: Helvetica, sans-serif;
$myColor: rgb(0, 119, 255);
$myC:2px red double;
$myFontSize: 18px;
$myWidth: 680px;

body {
  font-family: $myFont;
  font-size: $myFontSize;
  color: $myColor;
}

#container {
  width: $myWidth;
  border: $myC;
}        